/* added font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --shade1: #352F44;
    --shade2: #5C5470;
    --shade3: #B9B4C7;
    --shade4: #FAF0E6;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    padding: 0 8%;
    background-color: var(--shade1);
}

.main{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

header{
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-div{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.7vw;
}

.logo{
    width: 2.5vw;
    aspect-ratio: 1;
    background: var(--shade4);
    background-image: url(imgs/logo.png);
    background-size: 90%;
    background-position: center;
    border-radius: 100%;
}

.logo-div p{
    font-size: 1vw;
    font-weight: 600;
    color: var(--shade4);
}

nav{
    /* background-color: orange; */
    display: flex;
}

nav ul{
    display: flex;
    gap: 1.5vw;
}

nav ul li{
    list-style: none;
    padding: 0.2vw 1vw;
    border-radius: 100px;
    text-decoration: none;
    transition: all 0.7s ease;
}

nav ul li:hover{
    background-color: var(--shade2);
}

nav ul li a{
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.7s ease;
    font-weight: 400;
    color: var(--shade4);
    letter-spacing: 1px;
}

.social-div{
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.social-div a{
    text-decoration: none;
    font-size: 1.7vw;
    color: var(--shade3);
}

.social-div a:hover{
    color: var(--shade4);
}

/* ================================ Content Main  ======================================= */

.content-main{
    width: 100%;
    height: 75%;
    /* background-color: red; */
    border-bottom: 0.1vw solid var(--shade4);
    display: flex;
}

.content-left{
    /* background-color: blue; */
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 100%;
}

.line1{
    color: var(--shade3);
    font-weight: 500;
    font-size: 3vh;
}

.line2{
    color: var(--shade4);
    font-weight: 700;
    font-size: 5vh;
}

h1{
    color: var(--shade3);
}

.multiText{
    color: red;
}

.bio{
    padding-bottom: 2vh;
    color: var(--shade3);
}

.content-right{
    /* background-color: yellow; */
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-bitmoji{
    width: 40vw;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.bubble{
    background-color: var(--shade4);
    aspect-ratio: 1;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
}

.b1{
    width: 75%;
    right: 0;
    bottom: 0;
}

.b2{
    width: 35%;
    left: 4vw;
    bottom: -10vh;
}

.b3{
    right: 2vw;
    top: 4vw;
    width: 20%;
}

/* ==================================PROJECTS section ================================== */

.project-head{
    align-items: center;
    font-size: 3vw;
    width: 100%;
    letter-spacing: 0.1vw;
    font-weight: 600;
}

.main-project{
    width: 100%;
    height: 75%;
    justify-content: center;
    color: var(--shade3);
}

.projects .card{
    border: 0.4vh solid;
    border-radius:2vh;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 12px #3d535f;
    padding: 1.5vh;
    height: 60v;
    width: 25vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}
    
.projects{
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 0 10%;
}

.projects .card img{
    height: 33.33vh;
    width: 20vw;
    margin-top: 6.9px;
    border-radius: 1.5vh;
}

.projects .card p{
    text-align: center;
    margin: auto;
    font-size: 1vw;
}

.projects .card  button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 400;
    background-color: var(--shade1);
    color: white;
    padding: 1vh 2vh;
    margin: 1ch 2vh;
    letter-spacing: 1px;
    border-radius: 10%;
}

.card button:hover{
    background-color: greenyellow;
    color: black;
}

footer{
    padding-top: 1.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--shade4);   
}